body {
    font-family: "Arial", sans-serif;
    max-width: 2080px;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0;
    padding: 0px;
}



.ui-draggable, .ui-droppable {
    background-position: top;
    display:block;
}

header { 
/*
    background: #fff;
    box-shadow: 0 0px 10px 10px white;
*/
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index:10;
}
.nav-up {
    top: -60px; 
}

sub { 
    vertical-align: text-top;
    font-size: 10px;
}
.h1 {
    padding:0;
    display: inline-block;    
    position: absolute;
    font-family: "Arial";
    font-size: 18px;
    line-height:20px;
   
    z-index:2;
   
}


#title {
    top:0px;
    left: 0px;
    display: block;    
    margin: 0.0px 0.0px 0.0px 0.0px; 
    font-size: 18px ;
    padding: 5px;
    font-family: "Times", serif;
    text-transform: uppercase;
      }

#info {
    
    float:right;
}


li { display: block; }
ul { display:block;
position:absolute;
font-family: inherit}

/*. = class , # = id, .paragraph p */




.top {z-index: 2; position: relative}
.bottom {z-index: 1; position: relative}

.number{
    font-size:24px;
    position:absolute;
    display: block;
    top:0px;
    left:0px;
    z-index:2;
    padding:2px;
}

.images{
    display:block;
    margin-left:50vw;
    
}

.image img { 
    width: 100%;
    height: auto;
    opacity: 0.9;
 background:none;
   -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
      
}

.image img:hover {
     -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.image .description{
    
    margin-top: -5px;
    bottom: 2px;
    left:0px;
    background: #dddddd !important;
    font-size:10px;
    line-height:10px;
    
  
}



.paragraph {
   
    display: table;
    color:#000; 
    font: 20px "Arial";
    line-height: 24px;
    width: 480px;
    min-width:140px;
    background-color: #cec9c9;
    overflow: auto;
/*    top: 0;*/
/*    left: 0;*/
    z-index:0;
}



.paragraph tr {
    display: table-row;

}

.paragraph:nth-of-type(1) {
    background: #dbdbdb;
/*    margin-left: 30%;*/

}

.paragraph:nth-of-type(2) {
    background: #7c9096;
    
/*    margin-left: 30%;*/
}

/*images*/
.paragraph:nth-of-type(3) {
    top:40px;
    right:40px;
    position: absolute;
    background: none;
    mix-blend-mode: multiply;

}

.paragraph:nth-of-type(4) {
    top:80px;
    right:80px;
    position: absolute;
    background: none;
    mix-blend-mode: multiply;

}

.paragraph:nth-of-type(5) {
    top:120px;
    right:120px;
    position: absolute;
    background: none;
    mix-blend-mode: multiply;

}
.paragraph:nth-of-type(6) {
    top:160px;
    right:160px;
    position: absolute;
    background: none;
    mix-blend-mode: multiply;

}
.paragraph:nth-of-type(7) {
    top:200px;
    right:200px;
    position: absolute;
    background: none;
    mix-blend-mode: multiply;

}

.footnote {
   /* position: relative;*/
    display:  inline-block;
    font:10px "Arial";
    line-height: 10px !important;
   margin-top:-10px;
   
}


.a {
    color: black;
    text-decoration: underline;
}

@media print {
    body{ 
        width:100%;
        
        page-break-inside: avoid;
        
    }
    
   .no-print, .no-print *
    {
        display: none !important;
    }
     
  /*  #header #title #nav-up{
        position:fixed;
        top: 0;
        
    }*/
       
    .image {
        max-width:400px;
        float:right;
    }
    .paragraph {
       
        
    }
    
    @page: left{ 
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "My book";
    font-size: 9pt;
    color: #333;
  }
}

}

@media screen and (min-width: 480px) {
    body {
     
    }
}