body {
    font-family: "Arial", sans-serif;
    max-width: 2080px;
    margin: 0px;
    padding: 0px;
}


p {
    margin: 0;
    padding: 0px;
}



.ui-draggable, .ui-droppable {
    background-position: top;
    display:block;
}


header { 
/*
    background: #fff;
    box-shadow: 0 0px 10px 10px white;
*/
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index:10;
}
.nav-up {
    top: -60px; 
}

/*
sub { 
    vertical-align: text-top;
    font-size: 10px;
}
*/
sup{
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

.h1 {
    padding:0;
    display: inline-block;    
    position: absolute;
    font-family: "Arial";
    font-size: 18px;
    line-height:20px;
   
    z-index:2;
   
}


#title {
    top:0px;
    left: 0px;
    display: block;    
    margin: 0.0px 0.0px 0.0px 0.0px; 
    font-size: 14px ;
    padding: 5px;
    font-family: "Times", serif;
    text-transform: uppercase;
      }

#info {
    
    float:right;
}


li { display: block; }
ul { display:block;
position:absolute;
font-family: inherit}

/*. = class , # = id, .paragraph p */




.top {z-index: 2; position: relative}
.bottom {z-index: 1; position: relative}

.number{
    font-size:24px;
    position:absolute;
    display: block;
    top:0px;
    left:0px;
    z-index:2;
    padding:2px;
}

.images{
    display:block;
    margin-left:50vw;
    
}

.image img { 
    width: 100%;
    height: auto;
    opacity: 0.9;
 background:none;
   -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
      
}

.image img:hover {
     -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.image .description{
    
    margin-top: -5px;
    bottom: 2px;
    left:0px;
    background: #dddddd !important;
    font-size:10px;
    line-height:10px;
    
  
}


.image {
   
    display: table;
    color:#000; 
    font: 20px "Arial";
    line-height: 24px;
    width: 480px;
    min-width:140px;
    background-color: #cec9c9;
    overflow: auto;
/*    top: 0;*/
/*    left: 0;*/
    z-index:0;
}


.paragraph {
  
    display: table;
    color:#000; 
    font: 16px "Arial";
    line-height: 20px;
    width: 480px;
    min-width:140px;
    background-color: #cec9c9;
    overflow: auto;
/*    top: 0;*/
/*    left: 0;*/
    z-index:1;
  
   
}

.source{
    font:10px "Arial";
    
}
.footnote {
   position: relative;
    display: inline-block;
    font:10px "Arial";
    line-height: 12px !important;
   margin-top:-10px;
   
}


.one{
    margin-left:160px;
     z-index:0;
}

.two{
   
    top:500px;
    margin-left:120px;
    position: absolute;
    z-index:0;  
   
}
.three{
   
    top:500px;
    margin-left:80px;
    position: absolute;
    z-index:0;    
}

.four{
    
    top:0px;
    margin-left:40px;
    position: absolute;
    z-index:0;  
    
}

.paragraph tr {
    display: table-row;
}

.one .paragraph:nth-of-type(1) {
    background: #dbdbdb;
    
}
.two .paragraph:nth-of-type(1) {
    background: #636363;  
}

.two .paragraph:nth-of-type(2) {
    background: #636363;

}

.paragraph:nth-of-type(2) {
    background: #1434ea;

}


/*images*/
.paragraph:nth-of-type(3) {
    background: #dbdbdb;
  

}

.paragraph:nth-of-type(4) {
   background: #dbdbdb;
   

}

/*.paragraph:nth-of-type(5) {
    position: absolute;
    top:500px;
   background: #727272;
    margin-left: 5%;
    z-index:0;

}
*/
.paragraph:nth-of-type(6) {
    top:160px;
    right:160px;
    position: absolute;
    background: none;
    mix-blend-mode: multiply;

}
.paragraph:nth-of-type(7) {
    top:200px;
    right:200px;
    position: absolute;
    background: none;
    mix-blend-mode: multiply;

}



.a {
    color: black;
    text-decoration: underline;
}

@media print {
    body{ 
        width:100%;
        margin:0px;
        page-break-inside: avoid;
        
    }
    
   .no-print, .no-print *
    {
        display: none !important;
    }
     
  /*  #header #title #nav-up{
        position:fixed;
        top: 0;
        
    }*/
       
    .image {
        max-width:400px;
        float:right;
    }

    .paragraph {
       margin-left:0cm;
        
    }
    


}

@media screen and (min-width: 480px) {
    body {
     
    }
}